/*
	ResqueBoard StyleSheet
*/

@import "mixins.less";
@import "variables.less";
@import "cal-heatmap.less"; 

body
{
	padding-top: 60px;
	padding-bottom: @gridGutterWidth ;
	background-color: @grayLighter;
}

* {
	.transition(all .2s);
}

#main
{
	background-color: @white;
	padding: 0 @gridGutterWidth;
	border: 1px solid darken(@grayLighter, 5);
	position: relative;
}

.navbar a.brand
{
	padding: 8px 20px;
	
	img
	{
		vertical-align: text-bottom;
	}
}

.page-alert {
	position: absolute;	
	z-index: 200;
	.makeColumn(11);
	top: -22px;
	.border-radius(0 0 3px 3px);
}

h4.sep
{
	background-color: @grayLighter;
	padding: 5px;
	.border-radius(3px);
	clear:both;
}

#lastest-jobs 
{
	height: 190px;
	margin-top: @gridGutterWidth / 2;
}

.chart rect 
{
	fill: #4A8ABF;
	stroke: none;
	.transition(all .1s);
}

.chart rect:hover 
{
	opacity: 0.6;
	cursor: pointer;
}

.x-axis line, .x-axis path , .axis path
{
	stroke: #666;
	fill: none;
}

.y-axis line, .y-axis path 
{
	fill: none;
	stroke: #666;
}

.y-axis 
{
	margin-right: 2px;
}

.y-axis, .x-axis, .axis text
{
	shape-rendering: crispEdges;
	font-size: 10px;
	color: #666;
}

.bar-label
{
	font-size: 10px;
	font-weight: bold;
	fill: #fff;
}



.bar-label.out
{
	fill:#4A8ABF;
}

.axis-legend
{
	fill: #888;
	font-size: 10px;
}


.workers-menu
{
	.head, .head + dd
	{
		border-top: 1px solid @gray;
	}
}


#log-area
{
	list-style: none;
	margin: @gridGutterWidth 0;
	
	&:hover li
	{
		opacity: 0.8;
	}
	
	.type
	{
		text-transform: uppercase;
	}
	
	.label-c
	{
		width: @gridColumnWidth;
		float: left;
		text-align: right;
		margin-right: @gridGutterWidth;
	}
	
	.worker
	{
		color: @grayLight;
		margin-right: @gridGutterWidth;
		font: normal 85% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}


	
	li
	{
		border-bottom: 1px solid @grayLighter;
		.transition(all .1s);
		padding:3px 10px;
		
		&:hover
		{			
			background-color: @grayLighter;
		}
		
		&.hover-highlight
		{
			opacity: 1;
			color: @textColor!important;
			background-color: lighten(@yellow, 43);
		}
		
	}
	
	li[data-verbosity="debug"]
	{
		color: @grayLight;
	}

	li.filter-event
	{
		.gradientBar(@grayLighter, #fff);
		text-align: center;
		font-size: 85%;
		border-bottom: 1px solid @grayLighter;
		color: @grayLight;

	}
	
	time
	{
		font-size:95%;
		color:  @grayLight;
		float: right;
	}
}

#log-sweeper-form
{
	li
	{
		clear:both;
		line-height: 1.6;
		border-bottom: 1px solid @grayLighter;
		padding: 3px 0;
	}
	
	
}

.worker-name
{
	width: @gridColumnWidth * 4 + @gridGutterWidth * 4;
}

.stats-number
{
	font-size: 125%;
	width: @gridColumnWidth + @gridGutterWidth;
	font-weight: bold;
	text-align: right!important;
}

footer.container p
{
	color: lighten(@textColor, 35);
	font-size: 11px;
	padding-top: 5px;	
}

mark
{
	background-color: lighten(yellow, 25);
}

.job-status-icon
{
	display: block;
	float: left;
	margin-right: 10px;
	border: 1px solid darken(#fff, 20);
	.border-radius(3px);
	padding: 5px;
	background-color: #fff;
	.box-shadow(0 1px 5px 0 rgba(0,0,0,0.2) inset);
}

#job-details
{

	
	h4, code, pre
	{
		font-family: Consolas, "Courier New", Courier, mono;
	}
	
	h4
	{
		background-color: lighten(@green, 45);
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: @baseFontSize * 1.1;
	}
	
	small
	{
		display:block;
		font-size: 11px;
		color: lighten(@textColor, 25);
	}
	
	.accordion-group {
	  	border: 1px solid darken(#fff, 20);
	  	
	  	&.error
		{
			border: 1px solid lighten(@red, 35);
	
			.accordion-body
			{
				#gradient .vertical(lighten(@red, 25), lighten(@red, 50));
				color: #fff;
			}
			
			.accordion-heading
			{
				#gradient .vertical(#fff, lighten(@red, 50));
			}
		}
	}
	
	code
	{
		font-size: 11px;
	}
	
	.accordion-heading
	{
		#gradient .vertical(#fff, darken(#fff, 5));
	}
	
	.accordion-heading:hover
	{
		#gradient .vertical(#fff, darken(#fff, 10));
	}
	
	.accordion-body
	{
		pre
		{
			background-color: #fff;
			font-size: 11px;	
		}
	}
	
	time
	{
		float: right;
		display: block;
		clear: right;
		margin-top: 2px;
		font-weight: bold;
		font-size: 11px;
		opacity: 0.6;
	}
}

.workers-list-item
{
	border: 1px solid darken(#fff, 10);
	.border-radius(4px);
	margin-bottom: @gridGutterWidth;
	#gradient .vertical(#fff, darken(#fff, 5));
	font-size: 11px;
	
	&>.btn-group
	{
		margin: 8px 8px 0 0;
		color: lighten(@textColor, 50);
		
		.btn
		{
			font-size: 14px;
		}
	}
	
	h3
	{
		padding: 0px 10px;
		border-bottom: 1px solid darken(#fff, 10);
		font-size: 14px;
		background-color: #fff;
		.border-radius(4px 4px 0 0);
		margin:0;
	}
	
	h3.sub
	{
		padding: 0 5px;
		border:0;
		font-size: 14px;
		background-color: transparent;
	}
	
	.worker-list-inner
	{
		padding: 5px;
		
		small
		{
			b
			{
				font-size: 14px;
				display: block;
				margin-top: 6px;
			}
			
			color: lighten(@textColor, 20);
			font-style: italic;
			line-height: 12px;
			text-align: right;
			margin-right: 5px;
		}
	}
	

	
	div.worker-stats
	{
		background-color: #fff;
		border: 1px solid darken(#fff, 10);
		margin-top: 5px;
		.border-radius(3px);
		padding: 8px;
		
		.chart-pie, .stat-count
		{
			float: left;
		}
		
		.chart-pie
		{
			width: 40px;
			height: 40px;
		}
	
		.stat-count
		{
			margin-left: 15px;
			margin-top: 4px;
			width: 100px;
			color: lighten(@textColor, 10);
			
				
			b
			{
				font-size: 22px;
				font-weight: bold;
				display: block;
				color: #000;
				
				&.warning
				{
					color: lighten(@red, 25);
				}
			}
		}
	}
}

tr.worker-stats:target
{
	background-color: lighten(@yellow, 43);
}

tr.worker-stats:target td:first-child
{
	border-left: 3px solid @green;
}

.queue-name
{
	.gradientBar(lighten(@blue, 20), lighten(@blue, 2));
	color: #fff;
	font-weight: bold;
	padding: 0px 4px 2px;
	text-shadow: darken(@blue, 10) 0 -1px 0;
	.border-radius(2px);
}

table .queues-list
{
	font-size: 11px;
	color: lighten(@textColor, 25);
}

.table td.inner-wrap
{
	padding: 0px 0px!important;
}

#working-area
{
	
	td
	{
		vertical-align:middle;
		height: 37px;
		
		.btn-group
		{
			visibility: hidden;
		}
		
		&:hover
		{
			.btn-group
			{
				visibility: visible;
			}
		}				
		
		
				
		h4
		{
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			margin: 0;
			font-size: @baseFontSize;
			padding: 0;
			line-height: 1;
		}
	}
	padding-bottom: 20px;
}

.padd-fixer
{
	position: relative;
	vertical-align: bottom;
	padding: 8px;
	height: 37px;
}

span.chart-bar
{
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #d8ecf7;
}

span.chart-bar + b
{
	position: relative;
	z-index: 1;
}

// Heading Subtitle
.subtitle
{
	display: block;
	line-height: 1;
}

.job-trace, .job-args
{
	position: relative;

	&:before
	{
		content: "Job error log";
		position: absolute;
		right: 5px;
		background-color: darken(@yellow, 15);
		color: #fff;
		padding: 0 8px;
		top: 5px;
		.border-radius(3px);
	}
}
.job-args:before
{
	content: "Job arguments";
}

.chart-pie path:hover, .classyPieChart path:hover
{
	opacity: 0.8;
}


.breadcrumb
{
	form, form + div
	{
		float:left;
		margin-left: 10px;
		margin-bottom: 0;
	}
}

.btn-discret
{
	border: 0;
	background: none;
	color: lighten(@textColor, 40);
	.box-shadow(none);
	text-shadow: none;
}

// Horizon chart
#worker-activities
{
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
	
	
	
}

.horizon 
{
	border-bottom: 1px solid transparent;
  	overflow: hidden;
  	position: relative;
}
	
.horizon canvas 
{
  	display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}



td.stats-nb, th.stats-nb
{
	text-align: right;
}

.table-condensed
{
	font-size: 13px;
}


.classyPieChart {
  font: 10px sans-serif;
  text-shadow: none;
}
.classyPieChart .pie-total{
  font-size: 18px;
  font-weight: bold;
}
.classyPieChart .pie-units{
  fill: gray;
  font-size: 12px;
}
.classyPieChart .pie-label{
  fill: #CCC;
  font-size: 14px;
  font-weight: bold;
}
.classyPieChart .pie-value{
  font-size: 12px;
  font-weight: bold;
}

.jobs-stats
{
	@borderColor : lighten(@grayLight, 25);
	border: 1px solid @borderColor;
	margin-bottom: @baseLineHeight;
	
	li
	{
		color: @grayLight;
		display:block;
		float: left;
		border-right: 1px solid @borderColor;
		width: 33%;
		background-color: lighten(@grayLighter, 5);
				
		& > div
		{
			padding: 10px;
		}
		
	
		strong
		{
			color: @textColor;
			font-size: 24px;
			display: block;
		}
	
		&.total
		{
			font-size: 150%;
			width: 100%;
			clear: both;
			float: none;
			border-right: none;
			border-bottom: 2px solid @borderColor;
			background-color: #fff;
			
			strong
			{
				font-size: 24px * 1.5;
				line-height: 1.25;
			}
			
			@errorcolor : darken(spin(#d8ecf7, 160), 15);
			
			.chart-bar
			{
				width: 80%;
				height: 10px;
				position: relative;
				margin: 10px 10px 10px 0;
				float: left;
				clear: left;
				
				.chart-bar-in
				{
					background-color: @errorcolor;
					position: absolute;
					right: -10px;
					display: block;
					height: 100%;
				}
			}
			
			small
			{
				font-size: 11px;
				float: left;
				color: @errorcolor;
				font-weight: 800;
				display: block;
				margin-left: 10px;
				line-height: 2.5;
			}
			
			.secondary, .secondary strong
			{
				color: lighten(@grayLight, 20);
				text-align: right;
			}
		}
		
		&:last-child
		{
			border-right: none;
		}
	}
}


#jobs-load-monthly
{
	height: 200px;
	
	.graph-area
	{
		fill: #b5c7e6;
	}
	
	.graph-average-area
	{
		fill : #c7e9c0;
		opacity: 0.4;
	}
	
	.graph-line
	{
		stroke: #4777b2;
		stroke-width: 2;
		fill: none;
	}
	
	line {
		stroke: @grayLighter;
		stroke-width: 0.5;
		fill: none;
	}
	
	.graph-title
	{
		fill: steelblue;
		font-size: 13px;
		font-weight: bold;
	}
	
	.graph-legend
	{
		fill: @grayLight;
		font-size: 11px;
	}
}

// To fix bug where hover not working for popover
.pop-over
{
	outline: 1px solid transparent;
}

.popover {
    z-index: 2060 !important;
}

form label .icon-info-sign
{
	color: lighten(@blue, 30);	
	cursor: help;
}

.page-header
{
	position: relative;
}

.page-header .btn-nav
{
	position: absolute;
	bottom: -15px;
}

.li-head
{
	background: @grayLighter;
	font-weight: bold;
	color: @gray;
}

.knight-unit
{
	background-color: @grayLighter;
	padding: 50px;
	.border-radius(5px);
	text-align:center;

	h2
	{
		font-size: 32px;
	}
	
	p 
	{
		font-size: 150%;
		color: lighten(@textColor, 25);
	}
	
	.icon
	{
		font-size: 80px;
		color: lighten(@textColor, 25);
		margin-bottom: 30px;
		display: block;
	}
	
}

/*
	=======================
	Jobs class distribution
	=======================
*/
.jobs-matrix {
	@cellsize: 25px;
	margin: 20px 0;
	
	td {
		border: 1px solid #eee;
		text-align: center;
		height: @cellsize;
		width: @cellsize;
		vertical-align: middle;
		font-size: 11px;
	}

	a {
		display: block;
		height: @cellsize;
		width: @cellsize;
		
		&:hover {
			background: #000;
		}
	}
	
	tr:first-child, tr:last-child {
		background-color: lighten(steelblue, 48);
	}
	
	.new-week {
		border-top: 2px solid #ddd;
	}
	
	.weekend {
		background: lighten(#eee, 4);	
	}
	
	.today .head-day, .today .daily-total {
		background-color: lighten(#cedb9c, 23);		
	}
	
	.head-day {
		color: #999;
		white-space: nowrap;
		text-align: right;
		font-size: 10px;
		padding: 0 8px;
		width: @cellsize * 3;
		
		b {
			font-size: 12px;
		
		}		
	}
	
	i {
		display: none;
	}
	
	.head-weekday {
		color: #999;
		text-align: right;
		
	}
	
	.daily-total {
		text-align: right;
		font-size: 12px;
		
		b {
			z-index: 50;
			position: relative;
		}
	}
	
	b {
		padding: 0 5px;
		text-shadow: 0 1px 0 #fff;
	}
	
	.padd-fixer {
		height: @cellsize;
		padding: 0;
		width: @cellsize * 7;
	}
	
	.chart-bar {
		background-color: #e377c2;
	}
	
	// Percentage label for last column
	.perc {
		position: absolute;
		padding: 2px;
		font-size: 10px;
		line-height: 10px;
		font-weight: bold;
		background-color: #fff;
		.border-radius(2px);
		left: 5px;
		top: 5px;
		visibility: hidden;
		opacity: 0;
	}
	
	.daily-total:hover .perc {
		visibility: visible;
		opacity: 1;
	}
	
	.head-hour {
		color: #999;
	}
	
		
	.day-quarter {
		border-left-width: 2px;
	}
}




.table-legend{
	
	border: 1px solid #eee;
	width: 90px;
	float: left;
	margin-right: 10px;
	
	li {
		display: block;
		float: left;
		width: 15px;
		height: 15px;
	}
}

#chart {
	
	height: 350px;
	
	.graph-legend
	{
		fill: @grayLight;
		font-size: 11px;
	}
	
	.graph-line
	{
		fill: none;
	  	stroke: steelblue;
	  	stroke-width: 1.5px;
	}
	
	.graph-area
	{
		fill: steelblue;
		opacity: 0.15;
	}
	
	#g-line-fail {
		stroke: #8c564b;
	}
	
	#g-area-fail {
		fill: #8c564b;
		opacity: 0.5;
	}
	
	#g-line-scheduled {
		stroke: #ff7f0e;
	}
	
	#g-area-scheduled {
		fill: #ff7f0e;
		opacity: 0.5;
	}

	
	#g-line-total-process-time {
		stroke: #000;
	}
	
	#g-area-total-process-time {
		fill: none;
	}


}

#clip {
	outline: 1px solid #000;
}

#chart .y-axis {
	
	.tick {
		stroke: #ddd;
		stroke-dasharray: 4, 2;
	}
	
	path {
		stroke: #aaa;
	
	}
	
	g:first-child {
	
		display: none;
	}
	
	text {
		background-color: #fff;
	}
	
	&.right .tick {
		stroke: #aaa;
		stroke-dasharray: 4, 2;
	}
	

}

#chart .x-axis {
	
	path {
		display: none;
	}
	
	line {
		stroke: lighten(#eee, 2);
	}
}

#type-range {
	
	@borderColor : lighten(@grayLight, 25);
	
	li > div {
		padding: 0;
		border-right:  1px solid @borderColor;
	}
	
	li:last-child > div {
		border-right: 0;
	}
	
	.static, a {
		padding: 10px;
	}
	
	li {
		width: 20%;
		border: 0;
	}
	
	a {
		display: block;
		outline: 0;
		
		&:hover {
			text-decoration: none;
		}
	}
	
	.active {
		background-color: rgba(0,0,0,0.05);
		.box-shadow(0 0 5px rgba(0,0,0,0.2) inset);
		
		&:hover {
			background-color: rgba(0,0,0,0.08);
		}
		
	}
	
	i[class^="icon-"], i[class*=" icon-"] {
	    margin-right: 0px;
	    margin-top: 0px;
	}	
}



.dropdown-form .controls-row [class*="span"] + [class*="span"] {
    margin-left: 10px;
}

.dropdown-form label {
	color: lighten(@grayLight, 10);
	font-weight: bold;
	font-size: 11px;
	line-height: 22px;
}

.dropdown-form .padded {
	margin-top: 23px;
}

.dropdown-form .btn {
	margin-left: 10px;
}

.dropdown-menu a small {
	color: @grayLight;
}

.dropdown-menu a:hover small {
	color: @grayLighter;
}

.dropdown-menu .btn-links  {
	
	padding: 0 15px;
	
	a {
		clear: none!important;
		margin-bottom: 8px;
		padding: 4px 10px;
	}
}

.dropdown-menu.styled {
	#gradient .vertical(#fff, darken(#fff, 3));	
}
